%section{:style => "background-color: #eee;"}
  .container.py-3
    .d-flex.justify-content-between
      %h2.mb-3 Edit Profile
      = link_to 'Back', s_my_profile_path, class: 'btn btn-primary mb-3'
