%main#top.main
  %section#clients.section-bg
    %br
    %br
    %br
    %br
    .container
      .section-header
        %h3 Our CLients
        %p Meet our happy clients
      .row.no-gutters.clients-wrap.clearfix.wow.fadeInUp{:style => "visibility: visible; animation-name: fadeInUp;"}
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460149/abof.png"}/
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png"}/
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png"}/
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460358/client-4.png"}/
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png"}/
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png"}/
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png"}/
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            %img.img-fluid{:alt => "", :src => "https://bootstrapmade.com/demo/themes/NewBiz/img/clients/client-8.png"}/
